/x64
/src_Felipe
/Release
/lib
/include
/Figuras blender
/Debug
/.vs
/src_Samuel
/scenario
/scenario-aislado
*.zip
/EntornVGI/x64
src/main - cropped.cpp
src/escenaJoc - cropped.cpp
EntornVGI/imgui.ini
.vs/
out/
build/
bin/
obj/
*.exe
*.dll
*.pdb
*.sln
*.user
